* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

.encabezado {
    border: 3px black double;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;    
}

.imagenUno {
    width: 100%;
    margin: 25px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin: 25px auto;
}

@media (max-width: 920px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width:480px){
    h1 {
        font-size: 20px;
    }
}

nav {
    background-image: linear-gradient(#56CCF2, #6DD5FA, #FFFFFF);
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0 auto;
}

.navbar-brand img {
    position: relative;
}

.navbar-nav a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.gridArea {
    margin: 10px;
    display: grid;
    grid-template-areas:
    "main main main main"
    "seccion-dos seccion-dos seccion-uno seccion-uno"
    "pie-de-pagina pie-de-pagina pie-de-pagina pie-de-pagina";
    
}



@media (max-width: 920px) {
    .gridArea {
        grid-template-areas: 
        "main main"
        "seccion-dos seccion-uno"
        "pie-de-pagina pie-de-pagina";
    }
}

@media (max-width:480px) {
    .gridArea {
        grid-template-areas:
        "main"
        "seccion-dos"
        "seccion-uno"
        "pie-de-pagina";
    } 
}

main {
    grid-area: contenidoprincipal;
    background-color: cornsilk;
    border: black 3px double;
    height: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.seccionUno {
    grid-area: seccion-uno;

}

.imagenDos {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}


.seccionDos {
    grid-area: seccion-dos;
}

.seccionDos p {
    margin: 55px 25px 55px 25px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 920px) {
    .seccionDos p {
        font-size: medium;
    }
    .imagenDos {
        margin-top: 100px;
    }

}

@media (max-width:480px) {
    .imagenDos {
        margin-bottom: 25px;
       
    }
}


footer {
    grid-area: pie-de-pagina;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    width: 100%;
    height: 50px;
    
}

footer h3 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 16px;

}

@media (max-width:480px) {
    footer h3 {
        font-size: x-small;
    }
}


.historia {
    border: groove;
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    margin: 20px 30px 20px 30px;
    padding: 5px 5px 5px 5px;
   
}
h2 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 920px) {
    h2 {
        font-size: 30px;
    }
}

@media (max-width:480px){
    h2 {
        font-size: 20px;
    }
}

.autoridades {
    background-color: rgb(211, 222, 220);
    border: groove;
    margin: 20px 30px 20px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
}


.inscripciones {
    background-color: rgb(211, 222, 220);
    border: double;
    margin-top: 50px;
    padding: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
}

